EXPERTS_DB_USER="username"
EXPERTS_DB_PASS="password"
EXPERTS_DB_HOSTNAME="your.database.domain"
EXPERTS_DB_PORT="1521"
EXPERTS_DB_SERVICE_NAME="your.service.name"
DWE_DB_SERVICE_NAME="oit.data.warehouse.service.name"

PURE_API_URL="https://pure.domain/ws/api/version/"
PURE_API_DOMAIN="pure.api.domain"
PURE_API_VERSION="pure.api.version"
PURE_API_KEY="your-pure-generated-api-key"

EXPERTS_ETL_LOG_DIR="/path/to/logs"
EXPERTS_ETL_SYNC_DIR="/path/to/sync/outfiles"
EXPERTS_ETL_SYNC_KEEP_LIMIT=number_of_sync_files_to_keep

EXPERTS_ETL_FROM_EMAIL_ADDRESS="expert@some.host"

EXPERTS_ETL_TICKET_EMAIL_ADDRESS="some.ticketing.system.address@umn.edu"
EXPERTS_ETL_ERROR_EMAIL_ADDRESS="error.notification.address@umn.edu"

# The vars below were in .env.test on a local machine, but they look like
# env vars for the new experts monorepo:
PURE_WS_DOMAIN="your.pure.domain"
PURE_WS_KEY="your-pure-generated-api-key"
PURE_WS_VERSION="524" # Version 5.24; omit any dots/decimal points.
SCOPUS_API_DOMAIN=""
SCOPUS_API_KEY=""
SCOPUS_API_INST_TOKEN=""
SCOPUS_API_AFFILIATION_ID="" # Is this still used?
