DB_USER="username"
DB_PASS="password"
DWE_DB_SERVICE_NAME="service.name"
HOTEL_DB_SERVICE_NAME="anotherservice.name"

PURE_API_URL="https://pure.domain/ws/api/version/"
PURE_API_KEY="your-pure-generated-api-key"
