EXPERTS_DB_USER="username"
EXPERTS_DB_PASS="password"
EXPERTS_DB_HOSTNAME="your.database.domain"
EXPERTS_DB_SERVICE_NAME="your.service.name"
DWE_DB_SERVICE_NAME="oit.data.warehouse.service.name"

PURE_API_URL="https://pure.domain/ws/api/version/"
PURE_API_DOMAIN="pure.api.domain"
PURE_API_VERSION="pure.api.version"
PURE_API_KEY="your-pure-generated-api-key"

EXPERTS_ETL_LOG_DIR="/path/to/logs"
EXPERTS_ETL_SYNC_DIR="/path/to/sync/outfiles"
EXPERTS_ETL_SYNC_KEEP_LIMIT=number_of_sync_files_to_keep

EXPERTS_ETL_FROM_EMAIL_ADDRESS="expert@some.host"

EXPERTS_ETL_TICKET_EMAIL_ADDRESS="some.ticketing.system.address@umn.edu"
EXPERTS_ETL_ERROR_EMAIL_ADDRESS="error.notification.address@umn.edu"

UMN_LDAP_DOMAIN="umn.ldap.domain"
UMN_LDAP_PORT="umn_ldap_port_number"
