[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

alembic = "*"
cx_Oracle = "*"
python-dotenv = "*"
SQLAlchemy = "*"
sqlalchemy_mptt = "*"
experts_dw = {git = "git://github.com/UMNLibraries/experts_dw.git", editable = true}
addict = "*"
requests = "*"
pureapi = {git = "git://github.com/UMNLibraries/pureapi.git", editable = true}


[dev-packages]


[requires]

python_version = "3.6.3"
