[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

alembic = "*"
cx-oracle = "*"
python-dotenv = "*"
sqlalchemy = "*"
sqlalchemy-mptt = "*"
experts-dw = {git = "git://github.com/UMNLibraries/experts_dw.git", editable = true}
addict = "*"
requests = "*"
pureapi = {git = "git://github.com/UMNLibraries/pureapi.git", editable = true}
"jinja2" = "*"


[dev-packages]

pytest = "*"


[requires]

python_version = "3.6.3"
