<person id="{{ emplid }}">
  <name>
    <v3:firstname>{{ first_name }}</v3:firstname>
    <v3:lastname>{{ last_name }}</v3:lastname>
  </name>
  <gender>unknown</gender>
  <personIds>
    <v3:id type="employee">{{ emplid }}</v3:id>
    <v3:id type="umn">{{ internet_id }}</v3:id>
  </personIds>
</person>
