<person id="{{ person_id }}">
  <name>
    <v3:firstname>{{ first_name }}</v3:firstname>
    <v3:lastname>{{ last_name }}</v3:lastname>
  </name>
  {%- if name_suffix %}
  <titles>
    <title id="{{ emplid }}">
      <typeClassification>postnominal</typeClassification>
      <value>
        <v3:text lang="en" country="US">i{{ name_suffix }}</v3:text>
      </value>
    </title>
  </titles>
  {% endif %}
  <gender>unknown</gender>
  <organisationAssociations>
    {%- for job in jobs %}
    <staffOrganisationAssociation id="staffAssoc-{{ job.staff_org_assoc_id }}" managedInPure="false">
      <employmentType>{{ job.employment_type }}</employmentType>
      <primaryAssociation>{% if job.primary %}true{% else %}false{% endif %}</primaryAssociation>
      <organisation>
        <v3:source_id>{{ job.org_id }}</v3:source_id>
      </organisation>
      <period>
        <v3:startDate>{{ job.start_date.strftime('%d-%m-%Y') }}</v3:startDate>
        {%- if job.end_date %}
        <v3:endDate>{{ job.end_date.strftime('%d-%m-%Y') }}</v3:endDate>
        {%- endif %}
      </period>
      <staffType>{{ job.staff_type }}</staffType>
      <jobTitle>{{ job.job_title }}</jobTitle>
    </staffOrganisationAssociation>
    {%- endfor %}
  </organisationAssociations>
  {%- if contact_info_url %}
  <links>
    <v3:link id="contactInfoLink-{{ emplid }}">
      <v3:url>{{ contact_info_url }}</v3:url>
      <v3:type>contact_information</v3:type>
      <v3:description>
        <v3:text lang="en" country="US">Contact Information</v3:text>
      </v3:description>
    </v3:link>
  </links>
  {%- endif %}
  <user>
    <userName>{{ instl_email_addr }}</userName>
    <email>{{ instl_email_addr }}</email>
  </user>
  <personIds>
    <v3:id type="employee">{{ emplid }}</v3:id>
    {%- if internet_id %}
    <v3:id type="umn">{{ internet_id }}</v3:id>
    {%- endif %}
  </personIds>
  <visibility>{{ visibility }}</visibility>
  <profiled>{% if profiled %}true{% else %}false{% endif %}</profiled>
</person>
