<person id="{{ person_id }}">
  <name>
    <v3:firstname>{{ first_name }}</v3:firstname>
    <v3:lastname>{{ last_name }}</v3:lastname>
  </name>
  {%- if name_suffix %}
  <titles>
    <title id="{{ person_id }}">
      <typeClassification>postnominal</typeClassification>
      <value>
        <v3:text lang="en" country="US">i{{ name_suffix }}</v3:text>
      </value>
    </title>
  </titles>
  {% endif %}
  <gender>unknown</gender>
  <links>
    <v3:link id="contactInfoLink{{ person_id }}">
      <v3:url>{{ contact_info_url }}</v3:url>
      <v3:type>contact_information</v3:type>
      <v3:description>
        <v3:text lang="en" country="US">Contact Information</v3:text>
      </v3:description>
    </v3:link>
  </links>
  <user>
    <userName>{{ instl_email_addr }}</userName>
    <email>{{ instl_email_addr }}</email>
  </user>
  <personIds>
    <v3:id type="employee">{{ emplid }}</v3:id>
    <v3:id type="umn">{{ internet_id }}</v3:id>
  </personIds>
</person>
