{% autoescape true %}
<project:upmproject id="{{ PROJECT_ID }}" type="research">
  <project:title>
    <common:text lang="en" country="US">{{ TITLE }}</common:text>
  </project:title>
  {%- if SHORT_TITLE %}
  <project:shortTitle>
    <common:text lang="en" country="US">{{ SHORT_TITLE }}</common:text>
  </project:shortTitle>
  {%- endif %}
  {%- if umn_project_ids %}
  <project:ids>
    {%- for umn_project_id in umn_project_ids %}
    <common:id type="umn_project_id">{{ umn_project_id.UMN_PROJECT_ID }}</common:id>
    {%- endfor %}
  </project:ids>
  {%- endif %}
  {%- if internal_participants %}
  <project:internalParticipants>
    {%- for participant in internal_participants %}
    <project:internalParticipant>
      <project:personId>{{ participant.PERSON_ID }}</project:personId>
      <project:organisationIds>
        <project:organisation id="{{ participant.ORGANISATION_ID }}"></project:organisation>
      </project:organisationIds>
      <project:role>{{ participant.ROLE }}</project:role>
    </project:internalParticipant>
    {%- endfor %}
  </project:internalParticipants>
  {%- endif %}
  {%- if external_participants %}
  <project:externalParticipants>
    {%- for participant in external_participants %}
    <project:externalParticipant>
      <project:firstName>{{ participant.FIRST_NAME }}</project:firstName>
      <project:lastName>{{ participant.LAST_NAME }}</project:lastName>
      <project:role>{{ participant.ROLE }}</project:role>
    </project:externalParticipant>
    {%- endfor %}
  </project:externalParticipants>
  {%- endif %}
  <project:managedByOrganisation id="{{ MANAGED_BY_ORGANISATION_ID }}"></project:managedByOrganisation>
  {%- if START_DATE %}
  <project:startDate>{{ START_DATE.strftime('%Y-%m-%d') }}</project:startDate>
  {%- endif %}
  {%- if END_DATE %}
  <project:endDate>{{ END_DATE.strftime('%Y-%m-%d') }}</project:endDate>
  {%- endif %}
  <project:relatedAwards>
    <project:relatedAwardId> PROJECT_ID }}</project:relatedAwardId>
  </project:relatedAwards>
  <project:visibility>Public</project:visibility>
</project:upmproject>
{% endautoescape %}
